    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    body {
        background: #fafafa;
        color: rgba(0, 0, 0, .7);
    }
    
    html {
        font-size: 14px;
    }
    
    .jumbotron {
        height: 100vh;
        text-align: center;
        background: linear-gradient(270deg, #98ffe3, #ffe5af, #ffa8a2, #e1bdff, #a3d4ff, #b1ffa7, #7a91db);
        background-size: 600% 600%;
        animation: Gradient 200s linear infinite;
        /*text-shadow: 2px 2px 10px rgba(0, 0, 0, .3);*/
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 100;
        line-height: 3;
    }
    h3 {
        font-size: 300;
        line-height: 3;
    }
    h4 {
        font-weight: 300;
        line-height: 4;
    }
    
    .logo {
        max-width: 400px;
        margin-bottom: 25px;
        -webkit-filter: drop-shadow(2px 2px 7px rgba(0,0,0,.1));
        filter: drop-shadow(2px 2px 7px rgba(0,0,0,.1));
    }
    
    #logotype {
        font-size: 6rem;
    }
    
    .navbar {
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    button.navbar-toggler {
        margin-top: 16px;
        border: 0;
    }
    
    #scroll-down {
        background: url("../images/scroll-down.svg") no-repeat center bottom;
        height: 46px;
        margin-top: 30vh;
        opacity: .5;
        /*animation: swipe-up 1s infinite alternate;*/
    }
    
    #services {
        background: #FFFFFF;
        color: rgba(0,0,0,.87);
        width: 100%;
        font-size: 1.2rem;
    }

    #vectors {
        color: rgba(0,0,0,.87);
        width: 100%;
    }

    @keyframes swipe-up {
        0% {
            margin-top: 20vh;
            opacity: .3;
        }
        100% {
            margin-top: 23vh;
            opacity: 0;
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    /*Extra small devices*/
    
    @media screen and (max-width: 699px) and (min-width: 320px) {
        h1#logotype {
            font-size: 3.5rem;
        }
        #logo {
            height: 120px;
            margin-top: 30px;
            margin-bottom: 40px;
        }
    }
    /*Small devices (landscape phones, 576px and up)*/
    
    @media screen and (min-width: 576px) {}

    .bg-white{
    background:#ffffff !important;
}
#desprint {
    padding: 20px;

}


#pwa{
background: url("../images/pwa.png") no-repeat right fixed;
background-size: 50%;
padding: 20px;


}