    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    body {
        background: #fafafa;
        color: rgba(0, 0, 0, .7);
    }
    
    html {
        font-size: 14px;
    }
    
    .jumbotron {
        height: 100vh;
        text-align: center;
        background: -webkit-linear-gradient(right, #ffe5af, #ffa8a2, #e1bdff, #a3d4ff, #8ca9ff);
        background: linear-gradient(270deg, #ffe5af, #ffa8a2, #e1bdff, #a3d4ff, #8ca9ff);
        background-size: 600% 600%;
        -webkit-animation: Gradient 100s linear infinite;
                animation: Gradient 100s linear infinite;
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 100;
        line-height: 3;
    }
    h3 {
        font-size: 300;
        line-height: 3;
    }
    h4 {
        font-weight: 300;
        line-height: 4;
    }
    
    .logo {
      margin-top: -30px;
      width: 100%;
      z-index: -200;
      padding: 10px;
    }
    .logotype {
      padding: 30px;
      margin-top: -60px;
      margin-bottom: 30px;
      width: 100%;
      max-width: 420px;
    }
    
    #it-sol {
            margin-top: -30px;
            font-size: 2rem;
          }
    .navbar {
        z-index: 1;
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    button.navbar-toggler {
        margin-top: 16px;
        border: 0;
    }
    
    #scroll-down {
        background: url("../images/scroll-down.svg") no-repeat center bottom;
        height: 46px;
        margin-top: 30vh;
        opacity: .5;
        /*animation: swipe-up 1s infinite alternate;*/
    }
    
    #services {
        margin-top: -30px;
        background: #FFFFFF;
        color: rgba(0,0,0,.87);
        width: 100%;
        font-size: 1.2rem;
        padding-bottom: 30px;
    }

    #vectors {
        color: rgba(0,0,0,.87);
        width: 100%;
    }

    @-webkit-keyframes swipe-up {
        0% {
            margin-top: 20vh;
            opacity: .3;
        }
        100% {
            margin-top: 23vh;
            opacity: 0;
        }
    }

    @keyframes swipe-up {
        0% {
            margin-top: 20vh;
            opacity: .3;
        }
        100% {
            margin-top: 23vh;
            opacity: 0;
        }
    }
    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    /*Extra small devices*/
    
    @media screen and (max-width: 699px) and (min-width: 320px) {
        .logo {
            margin-top: -60px;
            margin-bottom: -40px;
        }

        #it-sol {
            margin-top: -30px;
            font-size: 1.5rem;
        }
    }
    /*Small devices (landscape phones, 576px and up)*/
    
    @media screen and (min-width: 576px) {}

    .bg-white{
    background:#ffffff !important;
}
#desprint {
    padding: 20px;

}


#pwa{
/*background: url("../images/pwa.png") no-repeat right fixed;
*/background-size: 50%;
padding: 20px;
}




/*LOGO ANIMATION*/






path {
  stroke-dasharray: 3172;
  stroke: #333;
  fill: rgba(0,0,0,0);
  -webkit-animation: draw 4s forwards;
          animation: draw 4s forwards;
}
@-webkit-keyframes draw {
  0% {
    stroke-dashoffset: -3172;
  }
  50% {
    stroke-dashoffset: 0;
    fill: rgba(0,0,0,0);
  }
  100% {
    fill: #333;
  }
}
@keyframes draw {
  0% {
    stroke-dashoffset: -3172;
  }
  50% {
    stroke-dashoffset: 0;
    fill: rgba(0,0,0,0);
  }
  100% {
    fill: #333;
  }
}
.left {
  opacity: 0;
  -webkit-animation: circle-left 0.3s forwards;
          animation: circle-left 0.3s forwards;
}
@-webkit-keyframes circle-left {
  0% {
    opacity: 0;
  }
  50% {r: 2;}
  100% {
    opacity: 1;
  }
}
@keyframes circle-left {
  0% {
    opacity: 0;
  }
  50% {r: 2;}
  100% {
    opacity: 1;
  }
}
.right {
  opacity: 0;
  -webkit-animation: circle-right 0.3s 0.5s forwards;
          animation: circle-right 0.3s 0.5s forwards;
}
@-webkit-keyframes circle-right {
  0% {
    opacity: 0;
  }
  50% {r: 2;}
  100% {
    opacity: 1;
  }
}
@keyframes circle-right {
  0% {
    opacity: 0;
  }
  50% {r: 2;}
  100% {
    opacity: 1;
  }
}
.big-circle {
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: big-circ 2s 1s;
          animation: big-circ 2s 1s;
}

@-webkit-keyframes big-circ {
  0% {
    opacity: 0;
    r: 1;
  }
  50% {
    opacity: 1;
    r: 1;
  }
  100% {
    opacity: 0;
    r: 2;
 
  }
}

@keyframes big-circ {
  0% {
    opacity: 0;
    r: 1;
  }
  50% {
    opacity: 1;
    r: 1;
  }
  100% {
    opacity: 0;
    r: 2;
 
  }
}






/*END OF LOGO ANIMATION*/